.desktopNav {
  display: flex;
}

.searchBar {
  background-color: var(--dropdown-buttons);
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  padding: 0 5px;
  display: flex !important;
  transition: all 300ms linear;

  svg {
    min-height: 1.5rem;
    min-width: 1.5rem;
    margin: auto 5px;
    color: var(--light-gray);
  }

  &Input {
    font-family: inherit;
    background-color: inherit;
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border: none;
    color: var(--font);
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 10px;
    min-width: 100px;
    caret-color: var(--light-red);
  }

  &__form {
    flex: 1;
  }

  &:focus-within {
    background-color: var(--dark-gray);
  }
}

.notification {
  position: relative;
  border: none;
  background-color: inherit;
  font-size: inherit;
  color: var(--font);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-gray);
  }
}

.profile {
  position: relative;
  border: none;
  background-color: inherit;
  font-size: inherit;
  color: var(--font);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-gray);
  }
}

.dropdownButton {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  align-items: center;
  justify-content: center;

  & > svg {
    height: 1.3rem;
    width: 1.3rem;
  }

  &:focus {
    background-color: var(--dark-gray);
    border: 2px solid var(--light-red);
  }
}

.dropdownLinks {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 999px) {
  .searchBar {
    margin-left: 0;
    width: 100%;
    font-size: 1.5rem;
  }
}
