.container {
  background-color: var(--nav-background);
  color: white;
  width: 300px;
  position: absolute;
  right: 0;
  border-radius: 15px;
  padding: 1rem;

  & > a {
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;

    &:hover {
      background-color: var(--gray);
    }
  }
}
