:root {
  --red: #ca3e47;
  --light-red: #f6777f;
  --dropdown-buttons: #393939;
  --dark-gray: #313131;
  --gray: #525252;
  --nav-background: #414141;
  --mid-gray: #8d8d8d;
  --light-gray: #b5b5b5;
  --border-gray: rgb(126, 126, 126);
  --font: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-gray);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: var(--font);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hamburger Menu styles */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--light-red);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  top: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--nav-background);
  padding: 1em 0;
  font-size: 1.7rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
