.layoutContainer {
  display: flex;
  padding: 1.5rem;
}

.layoutContainer > div:nth-child(2) {
  margin: 0 1rem;
}

.fresnelSidebar {
  max-width: 15%;
}

.fresnelMain {
  width: 100%;
}

.fresnelSuggestion {
  width: 28%;
}
