.heading {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.suggestions {
  background-color: var(--gray);
  border-radius: 15px;
  padding: 1rem;

  & > div {
    padding: 10px 0;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid gray;
  }
}

.individualContainer {
  display: flex;

  & > :first-child {
    border: 3px solid var(--light-red);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    min-width: 50px;
  }
}

.nameContainer {
  margin-left: 10px;
  word-wrap: anywhere;
}
