.form {
  &__group {
    &__label {
      display: block;
    }
    &__input {
      font-family: inherit;
      margin: 5px 0;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid var(--border-gray);
      outline: none;
      background-color: var(--dark-gray);
      color: var(--font);
      border-radius: 10px;
      font-size: 1.3rem;
      caret-color: var(--red);

      &::selection {
        background-color: var(--red);
        color: white;
      }
    }
  }
}
