:root {
  --red: #ca3e47;
  --light-red: #f6777f;
  --dark-gray: #313131;
  --gray: #525252;
  --mid-gray: #8d8d8d;
  --light-gray: #b5b5b5;
  --border-gray: rgb(126, 126, 126);
  --font: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

body {
  background-color: var(--dark-gray);
  margin: 0;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: var(--font);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
